@import 'reset-css';

* {
  box-sizing: border-box;
}

html,
body {
  font-family: system-ui;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

body {
  font-size: responsive 1.1em 1.4em; /* min-size, max-size */
  font-range: 32em 80em;
  line-height: 1.5em;
}

:global .frame-content {
  padding: 1em;
}
